In [9]:
import pandas as pd
# https://medium.com/@shouke.wei/how-to-read-dataset-from-google-drive-with-python-pandas-64bc07bbe35

# sharing URL creating through gdrive interface
sharing_url = 'https://drive.google.com/file/d/1NB326BZFDwJ6xIeRL4MiW-Fwp8BHT-Vk/view?usp=sharing'
file_id = sharing_url.split('/')[-2]

# create direct link
# create direct link with https://sites.google.com/site/gdocs2direct/
direct_url = fr'https://drive.google.com/uc?export=download&id={file_id}'
cols = ['SITUS_NUMBER', 'SITUS_CITY']

print(direct_url)
df = pd.read_parquet(direct_url, columns=cols).head()
df

https://drive.google.com/uc?export=download&id=1NB326BZFDwJ6xIeRL4MiW-Fwp8BHT-Vk

   SITUS_NUMBER  SITUS_CITY
0         221.0  SACRAMENTO
1         225.0  SACRAMENTO
2         227.0  SACRAMENTO
3         231.0  SACRAMENTO
10        226.0  SACRAMENTO